.container{
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.row{
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
}

.align-items-center{
  align-items: center !important
}

.fs18{
  font-size: 18px;
}

.pd16{
  padding: 16px
}

.pd15{
  padding: 15px
}